@model IEnumerable<DuThaiSon855.Models.DTS0855>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DTSName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTSGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DTSName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTSGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DTSID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DTSID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DTSID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
